<% content_for(:title, "Stories-Index") %>
<h1>Stories</h1>

<ol>
  <% @stories.five_most_recent.each do |story| %>
    <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ol>

<hr>

<%= link_to "Create a new story", new_story_path %>

<hr>

<h3>Stories with the most chapers </h3>

<ol>
  <% @stories.most_chapters.each do |story| %>
    <li><%= story.title %></li>
  <% end %>
</ol>
